ul{
list-style:none;
}
.eToggleTitle{
font-size:1rem;
margin-bottom:30px;
margin-top:5px;
font-weight:bold;
}
table{
width:100%;

}
th{
font-weight:normal;
text-align:left;
padding-left:7px;
}
a{
color:black;
}
.eCategoryOften{
color:black;	
}
