.card-body {
	min-height: 1px;
	paddding: 1.25rem;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
}
</style>
	<style type="text/css">
.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-w6kf {
	background-color: #efefef;
	border-color: inherit;
	font-family: serif !important;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: top
}

.tg .tg-p1nr {
	border-color: inherit;
	font-size: 11px;
	text-align: left;
	vertical-align: top
}

.tg .tg-0pky {
	border-color: inherit;
	text-align: left;
	vertical-align: top
}
</style>
	<style type="text/css">
.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-805n {
	background-color: #efefef;
	border-color: inherit;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: top
}

.tg .tg-0pky {
	border-color: inherit;
	text-align: left;
	vertical-align: top
}
.product_categori{
text-align: center;
}
.today_list{
	position: relative;
}
.today{
	position: absolute; 
	font-size: 1rem; 
	font-weight: bold; 
	top: 0; 
	left: 0; 
	margin-left: 30px;
}
.page_link{
	position: absolute; 
	right: 0; 
	top: 0; 
	font-family: sans-serif; 
	color: black;
}
.shop_salename{
	font-size: 1rem; 
	font-weight: bold; 
	margin-left: 30px;
}


