.slider-container {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
ul, li{
	list-style-type:none;

}
.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}
.product_name{
	color:black;
	
}
.product_name:hover{
	text-decoration:underline;
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}